.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.scores-container {
	left: 0;
	width: 20%;
	border-right: 5px solid black;
}

.game-container {
	right: 30%;
	width: 45%;
}

.game {
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	border-spacing: 8em 5em;
}

.game button {
	left: 45%;
	position: fixed;
}

@media screen and (max-width: 800px) {
	.game button {
        left: 90%
	}
}

td {
	border: black 2px solid;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
